@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800;900&display=swap");
/* shared style */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background-color: #ff900e;
  border: none;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600px;
  margin-top: 32px;
  cursor: pointer;
}
.text-light-gray{
  color:#727272;
}
/* header related style */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 210px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-titel {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700px;
}
nav > ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}
/* banner-content */
.banner-content {
  max-width: 860px;
  margin: 0px auto;
  text-align: center;
  margin-top: 100px;
}
.banner-titel {
  color: #131313;
  font-size: 4rem;
  font-weight: 700px;
}
.text-light-gray {
  padding-top: 15px;
  font-size: 1rem;
  font-weight: 400px;
  line-height: 26px;
}
.banner img {
  width: 100%;
  margin-top: 50px;
}
/* main section */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* Features section start */
/* teams styles */
.teams-container {
  display: flex;
  align-items: center;

}
.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 76px;
  padding-right: 76px;
}
.teams-titel {
  font-size: 2.8rem;

}
.teams-titel .quick-list {
  color: #727272;
  font-weight: 500px;
}
.teams-titel .our {
  color: #131313;
  font-weight: 700px;
}
.teams-titel .text-features {
  color: #ff900e;
  font-weight: 700px;
}
.text-light-gray{
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
}
/* fact style */
.fact{
  padding-top: 160px;
}
.fact-titel{
  color: #131313;
font-size: 3rem;
font-weight: 700;
}

.facts-card-containers{
  display: flex;
  justify-content: space-around;
padding: 50px;
}
.facts-card-containers .card{
  border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 50px 40px;
}
.facts-card-containers .card-stats{
  font-size: 3rem;
  font-weight: 600;
color:  #424242;
}
.facts-card-containers .card-titel{
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;

}
/* sponspors styles */
.sponspors{
text-align: center;
}
.sponspors-img-containers{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 20px;
  align-items: center;
}
.sponspors-img-containers img{
width: 165px;
}
.section-titel{
  color: #131313;
  font-size: 3.5rem;
  font-weight: 700;
}

/* media queries */
/* mobile phone */
@media screen and (max-width: 576px) {
  header{
padding: 20px;
  }
  /* .teams-content{
    width: 60%;
    margin: 0px auto;
  } */
  nav,
  .teams-container,
  .facts-card-containers,
  .sponspors-img-containers{
    flex-direction: column;
  }
  .facts-card-containers{
    gap: 20px;
  }
  .fact-titel,.fact-description{
    text-align: center;
  }
  .facts-card-containers .card{
    gap: 20px;
    padding: 20px;
  }
  .teams-container{
    /* padding: 10px; */
  }
  .teams-image-container{
    grid-template-columns: 1fr;
  }
  .nav-titel{
    margin-bottom: 20px;
  }
 .fact-description{
    width: 100%;
  margin-left: 5px;
  }
  .card img{
    gap: 20px;
  }

}
/* medium  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav,
  .facts-card-containers,
  .teams-container {
    flex-direction: column;

  }
  .fact-titel,.fact-description{
    text-align: center;
  }
  .facts-card-containers{
    gap: 30px;
    width: 300px;
    margin: 0px auto;
  }
  header{
    padding: 50px;
  }
  .nav-titel {
    margin-bottom: 20px;
  }
  .sponspors-img-containers{
    flex-direction: column;
  }
  }
